{% extends "layout.html" %}
{% block body %}
  <script src="{{ url_for('static', filename='js/add_grid_field.js') }}"></script>
  <h1>New Schema {{ schema.name }} Grid</h1>
  <form action="{{ url_for('create_grid', schema_id=schema['_id']) }}" method=post>
    {{ form.hidden_tag() }}
    <h3>Describe Grid<h3>
    <dl>
      <dt>{{ form.name.label }}:</dt>
      <dd id="grid_name_input">{{ form.name }}</dd>
      <dt>{{ form.description.label }}:</dt>
      <dd id="grid_description_input">{{ form.description(rows=5, columns=10) }}</textarea></dd>
    </dl>

    <h3>Define Grid Fields</h3>
    <p>
    Attribute fields can be selected as data in queries. Filter
    fields can be used in query where clauses
    </p>
    <ul id="grid_fields">
      {% for grid_field in form.grid_form_fields %}
	<li class="grid_field">{{ grid_field }}</li>
      {% endfor %}
	<li id="add_grid_field_target"><a id="add_grid_field" href="#">Add Field</a></li>
    </ul>
    {{ form.submit }}<a href="{{ url_for('gridz',schema_id=schema['_id']) }}">Cancel</a>
  </form>
{% endblock %}
